<%= form_for @result do |f| %>
 
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@result.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @result.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :sid %>
	<% options = options_from_collection_for_select(@users, 'id', 'id') %>
	<%= f.select :sid,  options %>
  </p>
  
  <p>
    <%= f.label :subject %>
	<% options = options_from_collection_for_select(@subjects, 'sname', 'sname') %>
	<%= f.select :subject,  options %>
  </p>
  
  <p>
    <%= f.label :marks %>
    <%= f.text_field :marks %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
